<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product._id}}">
      <span class="badge">{{product._id}}</span> {{product.nombre}}
    </a>
  </li>
</ul>

<div>
  <label for="new-product">Product name: </label>
  <input id="new-product" #productName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(productName.value); productName.value=''">
    Add product
  </button>
</div>