<div id="search-component">
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input
      matInput
      id="search-box"
      (keyup)="search(input.value)"
      placeholder="Filtrar"
      #input
      [matAutocomplete]="auto"
    />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="search($event.option.value)">
      <mat-option
        *ngFor="let option of products$ | async"
        [value]="option.nombre"
      >
        {{ option.nombre }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
